body {
    font-family: Arial, sans-serif;
    color: #333;
}
.header, .footer {
    padding: 20px;
    text-align: center;
    color: rgb(142, 51, 9);
    text-decoration: underline;
}

.main {
    padding: 20px;
    text-align: center;
    color: white;
}

.header {
    background-image: url('./blue.jpg');
    background-size: cover;
    border-bottom: 5px solid #333;
}
.main {
    background-image: url('./main.webp');
    background-size: cover;
    border-bottom: 5px solid #333;
}
.footer {
    background-image: url('./green.jpg');
    background-size: cover;
}
button {
    margin: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #555;
}
.box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgba(127, 227, 211, 0.8);
    text-align: left;
}
.logo {
    width: 100px; 
    height: auto;
}
